legend {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: black;
    color: rgba(80, 172, 209, 0.897);
    padding: 8px 8px 8px 8px;
    border-radius: 3px;
    border: 2px solid blue;
  }