* {
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  padding: 10px 30px 30px 10px;
  align-content: center;
  /* background-color:aliceblue; */
  display: block;
  margin-left: auto;
  margin-right: auto
}

fieldset {
  width: 240px;
  border-radius: 6px;
  background-color: rgb(33, 33, 32);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 80px 30px 80px;
  position: relative;
  align-items: center;
  border: 2px solid blue;
}

/* legend {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-color: black;
  color: rgba(80, 172, 209, 0.897);
  padding: 8px 8px 8px 8px;
  border-radius: 3px;
  border: 2px solid blue;
} */

button {
  background-color: blue;
  border: 0;
  padding: 12px;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  border-radius: 4px;
  color: blanchedalmond
}

button:hover {
  background-color: blueviolet;
}

input {
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  border: none;
  border: 2px solid;
}

input:hover {
  background-color: yellow;
}

label {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

img {
  background-color: rgb(33, 33, 32);
  border-radius: 6px;
  padding: 0px 149px 0px 149px;
  /* width: 30px; */
  display: flex;
  width: 120px;
  height: 105px;
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid blue;
  /* margin-top: 20px; */
}

::placeholder {
  background-color: blue;
  color: white;
}

h4 {
  text-decoration: none;
  color: white;
  padding: 10px 10px 10px 80px;
  font-size: 16px;
}

h4:hover {
  color: blue;
  font-size: 20px;

}